@page
@model HospiEnCasa.App.Frontend.Pages.Pacientes.DetailsModel
@{
}
<h1>Detalle del paciente</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.paciente.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Apellidos</th>
        <td>@Model.paciente.Apellidos</td>
    </tr>
    <tr>
        <th scope="col">Medico</th>
        @if (Model.paciente.Medico == null)
        {
            <td><a class="btn btn-primary" asp-page="./AddMedico" asp-route-id="@Model.paciente.Id">Asignar medico</a></td>
        } 
        else
        {
            <td>@Model.paciente.Medico.Nombre</td>
        }        
    </tr>
    <tr>
        <th scope="col">Signos vitales</th>
        <td>
            <ul>
                @foreach (var signoVital in Model.paciente.SignosVitales)
                {
                    <li>@signoVital.Signo - @signoVital.Valor</li>                    
                }
            </ul>
            <a class="btn btn-primary" asp-page="./AddSignoVital" asp-route-id="@Model.paciente.Id">
                Asignar signo vital
            </a>
        </td>
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>