@page
@using HospiEnCasa.App.Dominio
@model HospiEnCasa.App.Frontend.Pages.Pacientes.IndexModel
@{
}
<form method="get">
    <div class="form-group">
        <label for="g">Genero</label>
        <select name="g" id="g" asp-for="@Model.gActual" asp-items="Html.GetEnumSelectList<Genero>()" class="form-control">    
            <option value="-1">Ver todos</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" asp-for="@Model.bActual" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>


<h1>Listado de pacientes</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo paciente</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefono</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var paciente in Model.pacientes)
        {
            <tr>
                <th>@paciente.Nombre</th>
                <td>@paciente.Apellidos</td>
                <td>@paciente.NumeroTelefono</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@paciente.Id">Detalle</a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@paciente.Id">Modificar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
